nav {
  background-color: #fbf7f7;
}

main {
  background: linear-gradient(to bottom, #a0a0a0, #292727); /* Degradado de gris claro a gris oscuro */
}

.form-check-label {
  color: white;
  position: relative;
  top: 5px;
}

.footlink:hover {
  transform: scale(1.4);
  transition-duration: 0.4s;
}

#texto-negro1 {
  margin-left: 45px;
  padding-top: 20px;
}

/* Estilos del footer */
footer {
  background-color: black;
  color: #fff !important;
  padding: 10px 0;
  position: relative;
  align-content: center;
  width: 100%;
  text-align: center;
  z-index: 1;
}

footer a,
footer p {
  padding-bottom: 1rem;
}

.footlist {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-left: 2rem;
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 650px) {
  .footlink {
    margin-left: 0;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
