.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autorun 70s linear infinite;
    z-index: 2; /* Los banners tienen un z-index mayor */
}

@keyframes autorun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner .slider .item img {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner .slider .item img:hover {
    transform: scale(1.1); 
    box-shadow: 5px 5px 3px #161616;
    filter: brightness(1.1); 
}

/* Contenedor del logo */
.banner .static-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1; /* Menor z-index que los banners */
}

.banner .static-center img {
    width: 400px; /* Ajusta el tamaño aquí */
    height: auto;
    object-fit: contain;
    opacity: 0.9; /* Opcional: un poco de transparencia */
}
