body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    padding: 20px;
    background-color:  #cd7e35;
    border-radius: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #161616;
}

#texto-negro2 {
    font-size: 2.5rem;
    color: #000;
    text-shadow: 2px 2px 4px #555, -1px -1px 2px #fff, 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    text-align: center;
  }

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#carrito-container .producto {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#carrito-container .producto:last-child {
    border-bottom: none;
}

.eliminar {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.eliminar:hover {
    background-color: darkred;
}
