:root {
  --bs-body-line-height: initial; /* Anula la variable */
}


main {
    min-height: fit-content;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



 .navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
 
  .navbar-nav .nav-link {
    color: black; /* Color inicial del texto */
    border-bottom: 4px solid transparent; /* Sin borde por defecto */
    transition: all 0.1s ease-in-out; /* Transición suave */
    line-height: 1.2; /* Ajusta la altura de línea para acercar el texto al subrayado */
    padding-bottom: 2px; /* Reduce el espacio debajo del texto */
  }
  
  .navbar-nav .nav-link:hover {
    color: black; /* Color del texto al hacer hover */
    border-bottom: 4px solid #cd7e35; /* Borde inferior al hacer hover */
  }
  .nav-link.dropdown-toggle::after {
    content: none;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white; /* Cambia el color del texto del menú */
  }
  
  .navbar-light .navbar-brand {
    color: white; /* Cambia el color del texto del logo */
  }
  
  .navbar-light .navbar-toggler {
    border-color: white; /* Cambia el color del borde del botón toggle */
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Cambia el color de las barras del icono toggle */
  }
  
  .navbar-light .dropdown-menu {
    background-color: #333; /* Cambia el fondo del menú desplegable */
  }
  
  .navbar-light .dropdown-item {
    color: white; /* Cambia el color del texto de los items en el dropdown */
  }
  
  .navbar-light .dropdown-item:hover {
    background-color: #555; /* Cambia el fondo al pasar el cursor */
  }
 
  .nav-link.active {
    color: white !important;
  }
 
  .nav-link.active:hover{
    color:black !important;
  }
 
 
  .navbar-light {
    color: black;
    border-bottom: #cd7e35 solid 4px;
  }

.d-flex {
    height: 38px;
}


.container {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    padding: 20px;
    background-color:  #cd7e35;
    border-radius: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #161616;
}

#texto-negro2 {
    font-size: 2.5rem;
    color: #000;
    text-shadow: 2px 2px 4px #555, -1px -1px 2px #fff, 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    text-align: center;
  }

  #comprar {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    box-shadow: 10px 10px 5px #161616;
  }

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #161616;
    margin-left: 20px;
}


button:hover {
    background-color: #0056b3;
}

#agregarProducto {
    height: 42px;
}

#volver{
    height: 42px;
}

#finalizar {
    height: 42px;
}

#carrito-container .producto {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#carrito-container .producto:last-child {
    border-bottom: none;
}

.eliminar {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    height: 42px;
}

.eliminar:hover {
    background-color: darkred;
}
