body {
    margin: 0;
    padding: 0;
}

#texto-negro1{
    margin: 0;
    padding: 0;
    text-align: center;
}

#cancelar {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #161616;
}

#formulario {
    width: 400px;
}

.sr-only {
    visibility: hidden;
}

/******************************* Media Queries para Celulares ********************************************/

@media (max-width: 650px) {
    .contenedor {
        margin-left: -70px;
    }
}

/******************************* Media Queries para Tablets ********************************************/
@media (min-width: 651px) and (max-width: 850px) {
 #texto-negro1 {
    margin-bottom: 20px;
    font-size: 20px;
 }
    }