/* Estilos generales */

nav {
  background-color: #fbf7f7;
}

main { 
  background: linear-gradient(to bottom, #a0a0a0, #292727);
}

.contacto {
  color: white !important;
  top: 15px;
}

.footlink:hover {
  transform: scale(1.4);
  transition-duration: 0.4s;
}

#texto-negro1 {
  margin-left: 45px;
  padding-top: 20px;
}

/* Botonera */
.botonera {
  display: flex;
  justify-content: center;
  gap: 20px; /* Agrega espacio entre los botones */
}

/* Estilos del footer */
footer {
  background-color: black;
  padding: 10px 0;
  position: relative;
  align-content: center;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: auto; /* Asegura que el footer esté al final */
}

footer a,
footer p {
  padding-bottom: 1rem;
}

.footlist {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  color: #fff;
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 650px) {
  .footlink {
    margin-left: 0;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .botonera {
    gap: 20px; /* Espacio entre botones en dispositivos móviles */
  }
}

/************************************************** Para tablets ********************************************/
@media (min-width: 651px) and (max-width: 850px) { 
  .footlink {
    margin-left: 0;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .botonera {
    gap: 20px; /* Espacio entre botones en dispositivos móviles */
  }

  /* Estilo del select para que se vea como en el celular */
  select {
    width: 100%; /* Ocupa todo el ancho */
    font-size: 1rem; /* Tamaño de fuente adecuado */
    padding: 0.75rem; /* Espaciado interno para mejor visibilidad */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Color del borde */
    background-color: #fbf7f7; /* Fondo igual al resto del diseño */
  }

  /* Opcional: ajusta los estilos en el contenedor para una mejor alineación */
  .form-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; /* Margen interno adicional */
  }
}
