/* Asegura que el body cubra toda la pantalla */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 20px; /* Ajusta márgenes laterales para más simetría */
  width: calc(100% - 40px); /* Considera el margen */
}

/* Ajuste para sección de la imagen */
.image-section {
  flex: 1;
  max-width: 40%;
}

.entrevista { 
  border-radius: 20px;
  border: 6px solid darkolivegreen;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  margin: 0 auto; /* Centra en lugar de margen negativo */
}

