nav {
  background-color: #fbf7f7;
}

main { 
  background: linear-gradient(to bottom, #a0a0a0, #292727);
}
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo para el formulario */
.form-section {
  flex: 1; /* El formulario ocupa el 50% del ancho */
  max-width: 50%;
}

/* Estilo para la imagen a la derecha */
.image-section {
  flex: 1; /* La imagen ocupa el 50% del ancho */
  max-width: 40%;
}
.entrevista {
  border-radius:20px;
}

.contacto {
  color: white !important;
  top: 15px;
}

#texto-negro1 {
  margin-left: 45px;
  padding-top: 20px;
}

/* Botonera */
.botonera {
  display: flex;
  justify-content: center;
  gap: 20px; /* Agrega espacio entre los botones */
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 650px) {
  .footlink {
    margin-left: 0;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .botonera {
    gap: 20px; /* Espacio entre botones en dispositivos móviles */
  }
  .image-section {
    flex: 1; /* La imagen ocupa el 50% del ancho */
    max-width: 100%;
  }
}

/************************************************** Para tablets ********************************************/
@media (min-width: 651px) and (max-width: 850px) { 
  .footlink {
    margin-left: 0;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-section {
    flex: 1;
    max-width: 100%;
  }

  /* Alineación del select */
  .form-section select {
    width: 100%; /* Ajusta el ancho del select */
    margin: 10px 0; /* Alinea el select con otros campos de formulario */
  }

  /* Posicionamiento de la botonera */
  .botonera {
    gap: 20px;
    margin-top: 80px; /* Espacio adicional para separarla del formulario */
  }
}

