.contenedor { 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.notas {
  display: flex;
  flex-wrap: wrap;
}

.justify-text {
  text-align: justify;
}

.imagen-estilizada {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.group:hover .imagen-estilizada {
  opacity: 0.3;
}

.caja {
  position: relative;
  padding: 1rem;
}

.texto-rosa {
  margin-top: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #e54b9a;
  position: relative;
  display: block;
}

.texto-blanco {
  font-weight: bold;
  color: white;
  text-align: justify;
  animation: slide-in-left 1.5s ease-in-out;
}

.margen-vertical {
  margin-top: 10rem; 
}

#texto-celeste {
  color:#0099cc;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#texto-amarillo {
  color: yellow;
  font-weight: bold;
  text-align: justify;
  position: relative;
}

.lista-estilo {
  font-size: 1rem;  
  font-weight: bold; 
  list-style-type: circle; 
  margin-left: 10px;
}

.circle-bullets {
  list-style-type: circle;
}

.group {
  height: 590px;
  overflow: hidden;
}

#video {
  width: 100%; 
  height: auto;
}

.titulo_mapa {
  padding-left: 190px;
  background: black;
  color: white;
  text-shadow:
    0 0 20px #00ffff,
    0 0 30px #0099cc,
    0 0 40px #006699,
    0 0 50px #00ffff;
}

.mapa {
  background-color: #50633C;
  border-top: 4px solid #cd7e35; /* Borde superior */
  border-bottom: 4px solid #cd7e35; /* Borde inferior */
}

#mapa {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 2%;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); /* Sombra difusa de 10px con un degradado */
}


#direccion {
  font-weight: bold;
}

/******************************************** Para teléfonos móviles ****************************************/
@media (max-width: 650px) {
  .contenedor {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .caja {
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con opacidad del 30% */
    padding: 2rem; /* Agrega espacio alrededor del texto */
    border-radius: 8px; /* Redondea las esquinas (opcional) */
}

.texto-rosa {
  /*background: black;*/
  color: rgb(253, 5, 142);
  text-shadow:
    0 0 20px #c300ff,
    0 0 30px #e751e0,
    0 0 40px #a90464,
    0 0 50px #8d1a5f;
}

  .texto-blanco {
    font-size: 1.3rem;
    text-align: left;
  }

  #texto-celeste {
    margin-top: 80px;
    margin-left: 10px;
    margin-bottom: 80px;
    font-weight: bold;
    text-align: left;
    align-items: end;
  }

  .text-xl {
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: end;
  }

  #texto-amarillo {
    margin-top: -60px;
    align-items: end;
  }

  #gestiones, #auditorias, #servicios {
    width: 100%;
  }

  .contenedor img {
    max-width: 100%;
  }

  .mapa {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: -180px;
     }
  
  #direccion {
    font-weight: bold;
    margin-left: -150px;
}

#manito {
  margin-left: -150px;
}
}
/************************************************** Para tablets ********************************************/
@media (min-width: 651px) and (max-width: 850px) { 
  .contenedor { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0; /* Elimina cualquier padding extra */
    margin: 0;  /* Elimina cualquier margen extra */
  }

#gestiones {
  margin-top: -15px;
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: -23px;
  width: 100%;
  height: 700px;
  margin-bottom: -100px;
  }

 #auditorias {
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: -23px;
  width: 100%;
  height: 700px;
  margin-bottom: -100px;
 } 

#servicios {
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: -23px;
  width: 100%;
  height: 700px;
  margin-bottom: -80px;
}

  .group {
    width: 100%;
    overflow: hidden;
    padding: 0; /* Asegura que no haya padding adicional */
    margin: 0; /* Asegura que no haya margen adicional */
  }

  .group img {
    max-width: 100%; /* Limita el tamaño para evitar que la imagen se expanda más allá del ancho de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .margen-vertical {
    margin-top:3rem; 
    font-size: large;
  }

  .texto-blanco {
    font-size: large;
  }

  #texto-amarillo {
    font-size: large;
  }
  .mapa {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: -160px;
     }
  
  
  #direccion {
    font-weight: bold;
    margin-left: -160px;
}

#manito {
  margin-left: -160px;
}
}
/************************************************* Para Notebooks *******************************************/
@media (min-width: 851px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
  
  .margen-vertical {
    margin-top: 16rem; 

  }

  .texto-blanco {
    font-size:large;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
