/* servicios.css */
.servicios {
  padding: 40px 0;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 200px; /* Ajusta según necesites */
  object-fit: cover; /* Asegura que la imagen cubra el área */
}

h2 {
  margin-bottom: 30px;
}
