/* Asegura que el body ocupe toda la pantalla en ancho y altura */
body {
    background: white;
    margin: 0;
    padding: 0;
    width: 100vw; /* 100% del ancho de la pantalla */
    height: 100vh; /* 100% de la altura de la pantalla */
    box-sizing: border-box;
}

/* Estilos para el header para que ocupe todo el ancho */
header {
    width: 100vw;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

/* Contenedor principal */
.main-container {
    gap: 10px;
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    align-items: center;
}

/* Estilos para cada tarjeta */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Hace que cada tarjeta ocupe el mismo espacio horizontal */
    max-width: 400px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    background-color: #50633C;
}

/* Estilo para el artículo de la tarjeta */
article {
    position: relative;
    width: 90%;
    transition: all 0.3s ease;
}

/* Para la imagen de fondo */
article img:first-child { 
    box-shadow: 20px 20px 30px -20px black;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* Para la segunda imagen */
article img:last-child {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
}

/* Efecto de inclinación de la tarjeta */
article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
}

/* Muestra el degradado oscuro al hacer hover */
article:hover::before {
    opacity: 1;
}

/* Muestra la segunda imagen al hacer hover */
article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

/* Estilos para la sección de descripción */
.descripcion {
    width: 100%;
    max-width: 450px;
    text-align: center;
    font-size: 25px;
    color: #333;
    background-color: #cd7e35;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -70px;
}

/* Media queries para tabletas */
@media (min-width: 651px) and (max-width: 850px) { 
    .main-container {
        flex-direction: column; /* Las tarjetas en columna en pantallas más pequeñas */
        align-items: center;
        padding: 10px;
    }
    .container {
        max-width: 90%;
        margin: 10px;
    }
}

/* Media queries para celulares */
@media (max-width: 650px) {
    .main-container {
        padding-top: 80px;
        gap: 5px;
    }
    
    .descripcion {
        font-size: 20px;
        width: 85vw;
    }

    .container {
        max-width: 100%;
        margin: 5px;
    }
}
