@import "footer.css";
/* Las fuentes ahora se importan desde fuentes.css */

:root {
    h2 {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

main {
    padding: 20px;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #888a8a, #d5d8da);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font-principal);
    font-optical-sizing:auto;
    font-style: normal;
}

