@import "footer.css";
/* Las fuentes ahora se importan desde fuentes.css */

:root {
    h2 {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

main {
    padding: 20px;
}

body {
    background: linear-gradient(to bottom, #888a8a, #d5d8da);
    font-family: var(--font-principal);
    font-optical-sizing:auto;
    font-style: normal;
}
